h1 {
    text-align: center;
}

h3 {
    border-bottom: 1px solid #
}

p {
    font-size: large;
    font-weight: 20px;
    line-spacing: 10px;
}

div {
    font-size: large;
    font-weight: 30px;
    font-weight: Bold;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}